:export {
  /* stylelint-disable-next-line property-no-unknown */
  menu-background: $menu-background;
  /* stylelint-disable-next-line property-no-unknown */
  menu-text: $menu-text;
  /* stylelint-disable-next-line property-no-unknown */
  menu-active-text: $menu-active-text;
}
